bin/
build/
.settings/
.gradle/
.classpath
.project
.git/
.svn*
.settings/
catalina*
/logs/
.idea
*/.idea
*.log
*.iml
public
build/config/proxy-table.js
*.sublime-project
*.sublime-workspace
*.swp
bak
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
dist/
local-script
all-routes.js
page-routes.js
page-init-state.js
.happypack
.DS_Store
/target